body {
  margin: 0px;
  background-color: #546e90;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow-y: hidden;
}
#intersection {
  width: 50%;
  height: 100vh;
  overflow-y: hidden;
}
#graph {
  width: 50%;
  height: 100vh;
  border-left: 3px solid black;
  overflow-y: hidden;
}
/* #cy,
#resource-conflict-graph {
  height: 55vh;
} */
#cy {
  height: 100vh;
  overflow-x: hidden;
  border-bottom: 2px solid black;
}
#bottom-buttons {
  position: fixed;
  bottom: 0;
}
#top-buttons {
  position: fixed;
  top: 0;
  z-index: 100;
}
#step {
  color: white;
  font-size: 16px;
}

button {
  border-radius: 5px;
  padding: 3px;
  font-size: 16px;
  margin: 3px;
  cursor: pointer;
}

button[disabled] {
  cursor: not-allowed;
}

.switch {
  position: relative;
  display: inline-block;
  /* width: 60px;
  height: 34px; */
  width: 50px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 21px;
  width: 21px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
